/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@200;300;400&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url('https://use.fontawesome.com/releases/v6.0.0/css/all.css');

/* Imports */
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/footer.css");
@import url("components/button.css");

/* Utilities */
body {
  /* height: 100vh; */
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
}

/* Custom design below! */
